/node_modules
/vendor
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
# /public/build
/public/hot
/public/storage
/storage/*.key
/storage/debugbar/*.json
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/logs/*.log
/storage/app/public/*
.php_cs.cache
.phpunit.result.cache
php_errors.log
tests/TestCase.php.bak

# Antigravity & AI
.agent/
.gemini/
*.md

# Vercel
.vercel
